# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
".idea/\343\200\220FXBTG\345\256\230\347\275\221\343\200\221.iml"
assets/ajax/
assets/video/
FXBTG Symbol List.pdf
FXBTG-Symbol-List.xlsx
assets/image/1.png
assets/image/header-img2.png
assets/image/thumb-4.psd
assets/image/tws_icon8(1).png
assets/js/chinaft.js
assets/js/hexunad.js
page.js
scripts.js
"\346\226\260\345\273\272\346\226\207\344\273\266\345\244\271/"
